DATABASE_URL="" 
# leave blank for local json storage
# example url "postgresql://your_db_url_here"

AUTH_TRUST_HOST=true # https://authjs.dev/reference/core/errors#untrustedhost
AUTH_SECRET=1234        # https://generate-secret.vercel.app/32

# SMTP
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_PORT=465
SMTP_MAIL=your_smtp_mail
SMTP_HOST=your.smtp.xzy

# admin account
ADMIN_EMAIL=your_admin_mail
ADMIN_PASSWORD=admin